nav#nav {
    background: #3d3d3d;
    color: #fff;
}

nav#nav ul li.border {
    border-top: 1px #cdcdcd solid;
}

#nav button.navbar-toggle.collapsed {
    background: transparent;
}

#nav button.navbar-toggle {
    background: #1f1f1f;
}

#nav .navbar-brand.white {
    font-size: 16px;
    color: #fff;
}

nav#nav ul li {
    float: none;
    border-right: 0;
}

nav#nav ul li a {
    color: rgb(51, 51, 51);
    font-size: 16px;
}

#nav .navbar-collapse {
    border-top: none;
    background: #F7F7F7;
}

.margin-null{
    margin: 0;
}

.border-null{
    border: 0px;
}

#nav ul.nav li.blue a { 
    color: #34b5e2; 
}

#nav .navbar-default,
#nav .navbar-toggle,
#nav .navbar-toggle:hover,
#nav .navbar-toggle:focus {
/*background-color: transparent;*/
}

#mobile-search input {
    border: none;
    border-bottom: 1px #34b5e2 solid;
    background: #f8f8f8;
    color: #fff;
    background: #3d3d3d;
}

#mobile-search input:focus {
    border: none;
    outline: none;
    border-bottom: 1px #34b5e2 solid;
}

#nav .search-toggle {
    padding-left: 15px;
}

#nav .navbar-brand {
    width: 86%;
}

#nav #mobile-search {
    width: 86%;
}

#nav #mobile-search input {
    width: 100%;
}

@media(max-width: 990px) {
    #nav .navbar-header {
        float: none;
        padding: 0 15px;
    }
    #nav .navbar-toggle {
        display: block;
    }

    #nav .top-bar a {
        margin-right: 0;
    }

    #nav .navbar-brand {
        padding-right: 0;
    }

    header { display: none; }
}

@media(max-width: 450px) {
    #nav .navbar-brand {
        width: 78%;
    }

    #nav #mobile-search {
        width: 78%;
    }

    #nav #mobile-search input {
        width: 100%;
    }
}
