
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0
}

html {
    font-size: 75%
}

.ProgressBar {
    overflow: hidden;
    border: 1px solid #d0d0ce;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff
}
.ProgressBar-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    counter-reset: wizard
}
.ProgressBar-item {
    display: table-cell;
    width: 100%
}
.ProgressBar-item:first-child .ProgressBar-step {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px
}
.ProgressBar-item:last-child .ProgressBar-step {
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px
}
.ProgressBar-step {
    display: block;
    color: #34b5e2
}
.ProgressBar-stepInner {
    font-size: 12px;
    font-size: 1rem;
    display: block;
    position: relative;
    padding: 1em;
    text-align: center;
    cursor: not-allowed;
}
.ProgressBar-stepInner:after,
.ProgressBar-stepInner:before {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 100%;
    margin-top: -3.25em
}
.ProgressBar-stepInner:before {
    height: 0;
    width: 0;
    border-top: 3.25em solid transparent;
    border-bottom: 3.25em solid transparent;
    border-left: 1em solid #d0d0ce
}
.ProgressBar-stepInner:after {
    height: 0;
    width: 0;
    border-top: 3.25em solid transparent;
    border-bottom: 3.25em solid transparent;
    border-left: 1em solid #fff;
    margin-left: -1px
}
.ProgressBar-content {
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: -.5em;
}
.ProgressBar-content:before {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-size: 1.16667rem;
    counter-increment: wizard;
    content: counters(wizard, "");
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    padding: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
}
.ProgressBar-step.is-interactive {
    -webkit-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out
}
.ProgressBar-step.is-interactive .ProgressBar-stepInner:after,
.ProgressBar-step.is-interactive .ProgressBar-stepInner:before {
    -webkit-transition: border-color .1s ease-in-out;
    transition: border-color .1s ease-in-out
}
.ProgressBar-step--prev {
    background-color: #fff;
    color:#666;
}
.ProgressBar-step--prev .ProgressBar-content:before {
    color: white;
    background-color: #34b5e2
}
.ProgressBar-step--prev.is-interactive:focus,
.ProgressBar-step--prev.is-interactive:hover {
    outline: 0;
    color: #656565;
    background-color: #f7f7f7
}
.ProgressBar-step--prev.is-interactive:focus .ProgressBar-stepInner:after,
.ProgressBar-step--prev.is-interactive:hover .ProgressBar-stepInner:after {
    height: 0;
    width: 0;
    border-top: 3.25em solid transparent;
    border-bottom: 3.25em solid transparent;
    border-left: 1em solid #f7f7f7
}
.ProgressBar-step--active {
    color: #333;
    background-color: #34b5e2
}
.ProgressBar-step--active .ProgressBar-stepInner:before {
    height: 0;
    width: 0;
    border-top: 3.25em solid transparent;
    border-bottom: 3.25em solid transparent;
    border-left: 1em solid #34b5e2
}
.ProgressBar-step--active .ProgressBar-stepInner:after {
    display: none
}
.ProgressBar-step--active .ProgressBar-content:before {
    color: #333;
    background-color: #fff
}
.ProgressBar-step--next {
    color: #ccc;
    background-color: #f9f9f9
}
.ProgressBar-step--next .ProgressBar-stepInner:after {
    height: 0;
    width: 0;
    border-top: 3.25em solid transparent;
    border-bottom: 3.25em solid transparent;
    border-left: 1em solid #f9f9f9
}
.ProgressBar-step--next .ProgressBar-content:before {
    color: #f9f9f9;
    background-color: #ccc
}
.ProgressBar-step--next.is-interactive:focus,
.ProgressBar-step--next.is-interactive:hover {
    outline: 0;
    color: #ccc;
    background-color: #f1f1f1
}
.ProgressBar-step--next.is-interactive:focus .ProgressBar-stepInner:after,
.ProgressBar-step--next.is-interactive:hover .ProgressBar-stepInner:after {
    height: 0;
    width: 0;
    border-top: 3.25em solid transparent;
    border-bottom: 3.25em solid transparent;
    border-left: 1em solid #f1f1f1
}
.ProgressBar-item--beforeActive .ProgressBar-stepInner:before {
    height: 0;
    width: 0;
    border-top: 3.25em solid transparent;
    border-bottom: 3.25em solid transparent;
    border-left: 1em solid #fff
}
.ProgressBar-item--beforeActive .ProgressBar-step.is-interactive:focus,
.ProgressBar-item--beforeActive .ProgressBar-step.is-interactive:hover {
    outline: 0
}
.ProgressBar-item--beforeActive .ProgressBar-step.is-interactive:focus .ProgressBar-stepInner:before,
.ProgressBar-item--beforeActive .ProgressBar-step.is-interactive:hover .ProgressBar-stepInner:before {
    height: 0;
    width: 0;
    border-top: 3.25em solid transparent;
    border-bottom: 3.25em solid transparent;
    border-left: 1em solid #f7f7f7
}
.ProgressBar-label {
    white-space: nowrap
}

.ProgressBar-label--m {
    display: none
}
@media screen and (min-width: 37.5em) {
    .ProgressBar-stepInner {
        padding: 1.7em
    }
    .ProgressBar-content {
        right: -17px
    }
    .ProgressBar-content:before {
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -12px;
        margin-right: 10px;
        margin-bottom: 0
    }
}
@media screen and (min-width: 50em) {

    .ProgressBar-label--m {
        display: block
    }
}